
.head{
    text-align: center;
    background-color: rgb(214, 209, 209);
}

.titulo {
    background-color:rgb(193, 191, 191);
    text-align: center;
    color:rgb(46, 26, 196);
    font-family:"Cambria, Times, serif"
}
.subtitulo{
    background-color: rgb(193, 191, 191);
    color: rgb(146, 27, 36);
    text-align: center;
}
.inicio{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
    
.lista{
    text-align: center;

}
.pie{
    background-color: rgb(45, 62, 214);
    color: white;
    font-size:inherit;
    text-align: center;
    
}
